body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  background-image: url('https://cdn.discordapp.com/attachments/1178250536940736523/1243413545195016192/download.png?ex=6651629a&is=6650111a&hm=1b64490f85c7e59ccc7fdca97972aff2fc22af0bafcf5f66495b430c9f3261b8&'); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

nav {
  width: 100%;
  background-color: #007bff;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  text-decoration: underline;
}

.container {
  background-color: rgba(255, 255, 255, 0.9); /* Add some transparency to the container background */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin-top: 60px; /* Space to avoid overlap with the fixed nav */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.alert {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 4px;
  margin-top: 20px;
}
